html {
	&.blocked {
		body {
			overflow: hidden;
			position: relative;
			height: 100%;
		}
	}
}

body {
	@include text-16;
	font-family: $font-family-default;
	color: $color-typography-default;
	line-height: 2;


	&.logged-in {
		.navbar {
			top: 32px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

::selection {
	background: $color-black;
	color: $color-white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $color-black;
}

.container {
	width: 86%;
	max-width: 1320px;
}

.bg {
    &--black {background-color: #000000}
    &--orange {background-color: #F43F08}
    &--white {background-color: #FFFFFF}
    &--gray {background-color: #F7F7F7}
    &--violet {background-color: #4646CC}
    &--light_violet {background-color: #9292FF}
}

.text {
    &--black {color: #000000}
    &--white {color: #FFFFFF}
}

.padding-top {
	&--0 {padding-top:0;}
	&--1 {padding-top:30px;}
	&--2 {padding-top:60px;}
	&--3 {padding-top:90px;}
	&--4 {padding-top:120px;}
	&--5 {padding-top:150px;}
}

.padding-bottom {
	&--0 {padding-bottom:0;}
	&--1 {padding-bottom:30px;}
	&--2 {padding-bottom:60px;}
	&--3 {padding-bottom:90px;}
	&--4 {padding-bottom:120px;}
	&--5 {padding-bottom:150px;}
}


.container {
	&--default {

	}
	&--full {
		.container {
			max-width: 100%;
		}
	}
}


a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:hover {
	  color: $link-hover-color;
	  text-decoration: $link-hover-decoration;
	}
  }

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin-top: 0;
	font-family: $font-family-title;
}
