@mixin text-16 {
	@include fluid(font-size, 10px, 16px);
}
@mixin text-24 {
	@include fluid(font-size, 10px, 16px);
}

a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:hover {
	  color: $link-hover-color;
	  text-decoration: $link-hover-decoration;
	}
  }

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
